<h4>Datos del autor</h4>
<div class="foto right" ><img  src="/images/IMG_1131.JPG" alt="" height="85" width="70"></div>
<p><strong>Nombre</strong><%= Autor %></p>
<p><strong>Edad</strong>  57 años, de Bilbao desde el 8 Noviembre 1957</p>
<p><strong>Estado</strong>  Prejubilado y abuelete</p>
<p><strong>Titulación</strong>  Ingeniero Técnico Industrial, Mecánico</p>
