<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Ejemplo de etiquetas de texto estructurado</title>

<link href="style.css" rel="stylesheet" type="text/css" media="screen, projection">

</head>
<body>       

<h1>Datos del autor</h1>
<div class="foto right" ><img  src="IMG_1131.JPG" alt="" height="32" width="30"></div>
<p><strong>Nombre</strong>  Juan Carlos de la Iglesia Sanz</p>
<p><strong>Edad</strong>  57 años, de Bilbao desde el 8 Noviembre 1957</p>
<p><strong>Estado</strong>  Prejubilado y abuelete</p>
<p><strong>Titulación</strong>  Ingeniero Técnico Industrial, Mecánico</p>
</body>    
</html>    
